<?xml version="1.0"	encoding="utf-8"?>
<configuration>
	<startup>
		
	</startup>
	 <connectionStrings>
		 <add name="WFBankAppDB" connectionString="Data Source=ADURAO-IACADEMY\SQLEXPRESS;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient"/>
	 </connectionStrings>
</configuration>